[project]
name = "python-template"
version = "0.1.0"
description = "Minimal Python template with uv + direnv"
requires-python = ">=3.10"
dependencies = []


[tool.uv]
package = true


[tool.pyright]
venvPath = "."
venv = ".venv"

